<div class="row">

    <div class="header" style="padding: 100px 0;    padding-bottom: 20px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 text-center"><h1 style="font-size: 42px;">Email Marketing Made
                    Easy </h1></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 text-center mt-4 col-md-offset-3" style="margin-top: 15px;"><p>Discover how our
                    ease of use and 24/7 support set us apart.
                    All plans include unlimited emails and the latest features to grow your business, like landing pages
                    &amp; automation. </p></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 text-center mt-4"><a style="    color: #ffffff;
    background-color: #fec02f;
    border-color: #deb24c;
    margin-top: 20px;
    font-size: 15px;
    padding: 10px 20px; " class="btn btn-info btn-md" href="/users/login">Sign up</a></div>
            </div>
        </div>
    </div>
</div>

<p><br><br><br></p>
<div class="content pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-sm-offset-0">
                <div class="row1">
                    <div class="col-sm-6 text-center">
                        <div class="main-features"><a href="/"><img class="img-fluid"
                                                                                              src="https://www.mailerlite.com//assets/features/drag-and-drop-illustration.svg"
                                                                                              alt=""></a>
                            <h2><a href="">Drag-and-drop Email Builder</a></h2>
                            <p>Design emails without HTML! We made it super easy for you to create newsletters that look
                                professional and show your unique personality.</p></div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="main-features"><a href="/"><img class="img-fluid"
                                                                                       src="https://www.mailerlite.com//assets/features/home-automation-illustration.svg"
                                                                                       alt=""></a>
                            <h2><a href="">Email Automation</a></h2>
                            <p>Get better results by doing less work! Our email automation tools help you build
                                sophisticated campaigns with no technical skills required.</p></div>
                    </div>
                    <div class="clearfix" style="margin-top: 50px"></div>
                    <div class="col-sm-6 text-center" style="margin-top: 50px">
                        <div class="main-features"><a href="/"><img class="img-fluid"
                                                                                          src="https://www.mailerlite.com//assets/features/home-landing-illustration.svg"
                                                                                          alt=""></a>
                            <h2><a href="">Landing Pages</a></h2>
                            <p>Create online marketing campaigns and turn your subscribers into customers with
                                easy-to-build, responsive landing pages.</p></div>
                    </div>
                    <div class="col-sm-6 text-center" style="margin-top: 50px">
                        <div class="main-features"><a href="/"><img class="img-fluid"
                                                                                   src="https://www.mailerlite.com//assets/features/home-popups-illustration.svg"
                                                                                   alt=""></a>
                            <h2><a href="">Popups</a></h2>
                            <p>Customize beautiful popups with just a few clicks. It’s the most effective way to convert
                                your website visitors to subscribers.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img style="width: 100%;    margin-top: 100px;
    margin-bottom: 50px;" src="https://www.lyfemarketing.com/blog/wp-content/uploads/2018/03/email-marketing123.jpg" alt="">
<style>
    .row1 img {
        min-height: 150px;
        margin-bottom: 20px;
    }
    .row1 h2 a {
        color: #00a154;
    }
</style>